@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }

body
{
    overflow-x: hidden;
    /* background-color: #0f1525; */
    

}

.fonts-play
{
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* Custom scrollbar for webkit browsers */
::-webkit-scrollbar {
    width: 4px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background:#adb4c3;/* Gradient color for the thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
  }
  
  ::-webkit-scrollbar-track {
    background: #1d232a; /* Background color of the track */
    border-radius: 10px; /* Rounded corners for the track */
  }

  

  @keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to
    {
        scale: 1;
        opacity: 100;
    } 
  }

.view
{
    animation:appear 2s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

@keyframes appear1 {
    from{
        opacity: 0;
        
    }
    to
    {
        
        opacity: 100;
    } 
  }

.view1
{
    animation:appear1 2s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.heading{
    font-family: "Overpass", sans-serif;
}
.primary{
    font-family: 'Poppins', sans-serif;
}
.secondary{
    font-family: "Work Sans", sans-serif;
}

.bx
{
    box-shadow: 10px 10px rgba(0,0,0,0.15);
}

.shadow-me
{
    box-shadow: 2px 3px 10px rgba(0,0,0,0.2);
}

@media (min-width: 800px){
.left{
    position: relative;
    left: 0%;
}

.right
{
    position: relative;
    left: 100%; 
    /* width: 99%; */
}
}

.middle-line::after
{
   content: '';
   position: absolute;
   width: 7px;
   background: #000;
   height: 50%;
}



@media (max-width: 640px) {
    .right {
        left: 0%;
    }
    
}


.gradient-border {
    border-style: solid;
    border-image: linear-gradient(to bottom, #0099ff, #a222f2) 1; /* Adjust colors and direction */
  }

.bxs
{
    border-radius: 40px;
background: linear-gradient(145deg, #1a2026, #1f252d);
box-shadow:  6px 6px 18px #181d23,
             -6px -6px 18px #222931;
}

.bxs1
{
    border-radius: 20px;
background: linear-gradient(145deg, #1a2026, #1f252d);
box-shadow:  6px 6px 18px #181d23,
             -6px -6px 18px #222931;;
}
